/* General Styles */
body {
    padding: 0;
    
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: whitesmoke;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.cursor {
    cursor: pointer;
}



.navbar-toggler-icon {
    text-decoration: none;
    outline: none;
    display: inline-block;
    background-color: none;
    border: none;
    position: relative;
}

.navbar-toggler-icon:focus-visible,
.hamburger-menu:focus-visible {
    outline: none;
}





/* Main Content Styles */
.phone3 {
    position: relative;
}

.hellos {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: black; /* Ensures the text is visible on the image */
    text-align: center;
    width: 100%; /* Makes sure the text is centered */
    font-size: 70px;
}

.hellos1 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    text-align: center;
    width: 100%;
    font-size: 40px;
}
.videoH
{
    top:75%;
}
.videoP{
    top:85%;
}

/* Responsive font sizes */
@media (max-width: 1200px) {
    .hellos {
        font-size: 50px;
    }

    .hellos1 {
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .hellos {
        font-size: 40px;
    }

    .hellos1 {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .hellos {
        font-size: 30px;
    }

    .hellos1 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .hellos {
        font-size: 20px;
    }

    .hellos1 {
        font-size: 15px;
    }

    .nav-items {
        flex-direction: column;
    }
}
